<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Complaints</h1>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Company</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @complaints.each do |complaint| %>
        <tr>
          <td><%= complaint.user.email %></td>
          <td><%= complaint.company.name %></td>
          <td><%= complaint.content %></td>
          <td><%= link_to 'Show', complaint, class:"btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_complaint_path(complaint), class:"btn btn-success" %></td>
          <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Complaint', new_complaint_path %>
